h1{
    background-color: greenyellow;
}

h2{
    background-color: orange;
}

p{
    font-family: cursive;
}

footer{
    background-color: turquoise;
}


header{
    text-align: center;
}

.logo{
    width: 30px;
    
}

